body {
 
    background-color: powderblue;
    padding-top:2em;
  
}



.logo {
    padding-top:10em;
    padding-left:28em;
    padding-right:2em;
    width: 40em;
    height:20em;
    position: relative;
    border-bottom-color:darkslategrey;
   
}


.titulo-index {
    color: #210B61;
    text-align: center;

    padding-top:70px;
}

.active{
    text-align: center;
    color:brown;
}

.contacto{
    padding-top:20px;
    text-align:center;
}
