@{
    ViewBag.Title = "About";
}
<h2 class="titulo-index"><strong>SOBRE NOSOTROS</strong></h2>

<p>
    Hoy en día, la implementación de software para optimizar procesos sea configurado en una necesidad, debido a la facilidad y   protección en el manejo de la información de las empresas que estos generan, adicionalmente, a través del uso de herramientas tecnológicas como aplicaciones y software inteligente, evitamos pérdidas económicas puesto que, si no tenemos un proceso adecuado en el manejo de dicha información, somos vulnerables a daños o pérdida de datos.
    En el SENA CEET sede Colombia, se cuenta con una sede en calidad de arrendamiento, la cual es propiedad de la empresa COLSULTEC, ésta se encarga de todos los procesos administrativos de la sede. Como estudiantes de tecnología en Análisis y desarrollo de sistemas de información, posterior a un análisis en el proceso de manejo de activos, nos enfocaremos en la optimización del proceso de inventarios el cual lleva a cabo dicha empresa, ya que éste, se viene manejando de manera muy precaria y poco eficiente, debido a que se realiza mediante archivo Excel, restando efectividad a dicho proceso.
    En la primera etapa del proyecto, posterior al análisis e identificación de necesidades, evaluaremos los requerimientos que haya lugar, para de esta manera, lograr que el aplicativo sea eficiente y acorde a dichas necesidades.
</p>

<p>

    ¿Cómo implementar un software para crear y controlar toda la información de control de inventario de activos en el Sena sede Colombia para que la administración de información se vuelva en un proceso ágil y confiable para poder darle solución a los problemas actuales?
    Actualmente el Sena sede Colombia cuenta con una gran cantidad de activos; equipos, materiales, mesas que se encuentran allí a disposición de los aprendices e instructores.
    El problema que se presenta aquí es que no se lleva un control adecuado de los activos que existen allí, pues según lo que investigamos sobre el control de inventario este se lleva a cabo en una hoja Excel, por lo tanto, la información nos es muy concisa, manipulable y ágil.
    Por ejemplo, al momento de querer consultar algún activo del Sena, se puede convertir un poco tedioso y lento la consulta, ya que debemos buscar entre demasiada información, ya que esta se encuentra agrupada de manera desordenada.
    Otro inconveniente que se presenta es al momento de una revisión técnica de un equipo, ya que, al momento de querer ubicar el equipo, el técnico debe saber la marca, la referencia, las características de dicho equipo entre otros, lo ideal sería que tan solo teniendo la referencia del equipo se pueda saber dónde se encuentra ubicado el equipo y todas sus características técnicas y físicas. Pero este no es el caso, el técnico deberá buscar el equipo en una hoja Excel con una gran cantidad de información, por lo tanto, no existe agilidad en el servicio haciendo que la información que se encuentra en el equipo se encuentre fuera del alcance de los aprendices.

</p>