@{
    ViewBag.Title = "Contacto";
}

<div class="contacto">
<h1>CONTACTO</h1>

<address>
    SENA SEDE COLOMBIA<br />
    Cll 69 # 20-36 <br />

    <abbr title="Phone">Telefono: 3114849811</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong> <br /> <a href="mailto:Support@example.com">jpmoreno054@misena.edu.co <br /> zullytamayom@gmail.com <br /> geidy_cifuentes@hotmail.com <br />sebastatan254@gmail.com  </a><br />

</address>

</div>